.banner {
  margin-top: 0;
  padding: 260px 0 0 0;
  height: 700px;
  /* background-image: url('./assets/img/banner-bg.png'); */
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;

  .col-name {
    padding-left: 200px;

    h1 {
        font-size: 50px;
        font-family: Agrandir, serif;

        .first-name {
            margin-bottom: 0;
        }

        span {
          color: #FFBD59;
        }
    }

    .position {
        font-size: 25px;
        font-family: Agrandir, serif;
        color: #FFBD59;
    }
    button {
      padding: 10px 40px;
    }
  }

  .col-image {
    img {
        width: 600px;
        margin-top: -80px;
      }
  }
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}
