.banner {
  margin-top: 0;
  padding: 260px 0 0 0;
  height: 700px;
  /* background-image: url('./assets/img/banner-bg.png'); */
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;

  .col-name {
    padding-left: 200px;

    h1 {
        font-size: 70px;

        .first-name {
            margin-bottom: 0;
        }
    }

    .position {
        font-size: 25px;
    }
  }

  .col-image {
    img {
        animation: updown 3s linear infinite;
      }
  }
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}
